<!DOCTYPE html>

<html>

    <body>
        {{> header}}
        <p>{{screamit welcomeMessage}}</p>
        <!-- Passing data (welcomeMessage) into our handlebars helpers function (screamit) -->

        {{> footer}}
    </body>

</html>
